<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hunter Lacefield Portfolio</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hunter Lacefield's professional portfolio">
    
    <meta property="og:title" content="Hunter's portfolio">
    <meta property="og:type" content="profile">
    <meta property="og:description" content="Portfolio created to display all of the projects I have done using a multitude of resources including React, MongoDB, Express, Node.js, HTML5, CSS3, and etc...">
    <meta property="og:image" content="https://i.ibb.co/9wS2nnn/portfolio-snapshot.png" />
    <meta name="author" content="Hunter Lacefield">
    <meta name="twitter:card" content="summary_large_image">

    <!-- add an icon for site in the following href to replace fcc icon-->
    <link
      id="favicon"
      rel="icon"
      href="https://i.ibb.co/HPRL0C4/initials-favicon-32x32.png"
      type="image/x-icon"
    />

    <!-- Font awesome link -->
    <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
    crossorigin="anonymous"
    />
    <!-- owl carousel -->
    <link rel="stylesheet" href="owl.carousel.css" />
    <link rel="stylesheet" href="owl.theme.default.min.css" />
    <link rel="stylesheet" href="index.css" />
    
  </head>

  <nav id="navbar">
    <div class="nav-social-list">
      <a href="https://www.facebook.com/hunter.s.lacefield/" aria-label="facebook">
        <i class="fab fa-facebook-f icon"></i>
      </a>
      <a href="https://www.linkedin.com/in/hunter-lacefield-871995115/" aria-label="linkedin">
        <i class="fab fa-linkedin-in icon"></i>
      </a>
      <a href="https://github.com/lace1010" aria-label="github">
        <i class="fab fa-github icon"></i>
      </a>
    </div>

		<div class="nav-link-list">
			<a class="navbarLinks" id="navbarLinkSelected" href="#">ABOUT</a>
			<a class="navbarLinks" href="/projects.html">PROJECTS</a>
			<a class="navbarLinks" href="/resume.html">RESUME</a>
      <a class="navbarLinks" href="/contact.html">CONTACT</a>
      <span id="navIndicator"></span>
    </div>

    <p id="dropDownButton"><i class="fas fa-bars"></i></p>
	</nav>

  <div class="nav-link-list-dropdown">
    <a class="navbarLinks" id="navbarLinkSelectedDropdown" href="#">ABOUT</a>
    <a class="navbarLinks" href="/projects.html">PROJECTS</a>
    <a class="navbarLinks" href="/resume.html">RESUME</a>
    <a class="navbarLinks" href="/contact.html">CONTACT</a>
  </div>


  <i id="colorThemeButton" class="fas fa-cogs"></i>
    
  <div id="tooltipContainer">
    <p id="tooltipHeader"></p>
    <div id="colorBoxContainer">
      <div id="row1" class="colorBoxRows">
        <div id="colorTheme1" class="colorBox selected"></div>
        <div id="colorTheme2" class="colorBox"></div>
        <div id="colorTheme3" class="colorBox"></div>
        <div id="colorTheme4" class="colorBox"></div>
      </div>
      <div id="row1" class="colorBoxRows">
        <div id="colorTheme5" class="colorBox"></div>
        <div id="colorTheme6" class="colorBox"></div>
        <div id="colorTheme7" class="colorBox"></div>
        <div id="colorTheme8" class="colorBox"></div>
      </div>
    </div>
  </div>

  <section id="welcomeSectionContainer">
    <img id="headshot" src="./images/Professional Headshot.jpg" alt="Hunter Lacefield's professional headshot">
    <div id="welcomeMessageContainer">
      <p id="welcomeHeader">Hello, my name is <br> 
        <span id="name">Hunter Lacefield</span><br>
        I'm a full-stack developer specialised in frontend and backend development for complex scalable web apps. 
        Want to know how I may help your company? Check out my project <a class="welcomeLink" href="/projects.html">case studies</a> 
        and <a class="welcomeLink" href="/resume.html">resume</a>.
      </p>
      <a id="welcomeButton" class="welcomeAndFooterButton" href="/contact.html">Hire Me</a>
    </div> 
  </section>

  <!-- Skill Section -->
  <section id="skillSectionContainer">
    <div id="skillsOverview">
      <h2 class="sectionalHeader">Skills Overview</h2>
      <p id=skillsDescription>I have experience building rich web applications from around the world. Below is a quick overview of my 
        main technical skill sets and tools I use. Want to find out more about 
        my experience? <a id="resumeLink" href="/resume.html">Check out my online resume.</a>
      </p>
    </div>

    <div id="skillDisplayContainer">
      <div class="skillDisplay">
        <div class="skillIconContainer">
          <i class="fas fa-laptop skillIcon"></i>
        </div>

        <h2>Frontend</h2>
        <ul>
          <li><i class="fas fa-check"></i>Javascript</li>
          <li><i class="fas fa-check"></i>jQuery</li>
          <li><i class="fas fa-check"></i>React/Redux</li>
          <li><i class="fas fa-check"></i>HTML/CSS/Bootstrap</li>
          <li><i class="fas fa-check"></i>D3.js</li>
          <li><i class="fas fa-check"></i>Owl carousel</li>
        </ul>
      </div>
      <div class="skillDisplay">
       <div class="skillIconContainer">
        <i class="fas fa-database skillIcon"></i>
       </div>

       <h2>Backend</h2>
       <ul>
        <li><i class="fas fa-check"></i>Node.js</li>
        <li><i class="fas fa-check"></i>Express</li>
        <li><i class="fas fa-check"></i>NoSQL</li>
        <li><i class="fas fa-check"></i>MongoDb/Mongoose</li>
        <li><i class="fas fa-check"></i>Nodemailer</li>
        <li><i class="fas fa-check"></i>Information Security</li>
        <li><i class="fas fa-check"></i>IChai/Mocha Testing</li>
      </ul>
      </div>
      <div class="skillDisplay">
       <div class="skillIconContainer">
        <i class="fas fa-tools skillIcon"></i>
       </div>
       <h2>Others</h2>
       <ul>
        <li><i class="fas fa-check"></i>Github</li>
        <li><i class="fas fa-check"></i>Mathematics</li>
        <li><i class="fas fa-check"></i>Teaching</li>
        <li><i class="fas fa-check"></i>Sales</li>
        <li><i class="fas fa-check"></i>Hooper</li>
      </ul>
      </div>
    </div>
  </section>

  <!-- Testimonial Section -->
  <section id="testimonialsContainer">
    <h1 class="sectionalHeader">Great People I've worked with</h1>
    
    <div class="testimonialsCarousel owl-carousel owl-carousel1 owl-theme">
      <!-- <div class="singleTestimonial">
        <img class="testimonialImage" src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300" alt="John Doe">
        <div class="testimonialText">
          <h2 class="testimonialName">Pravin Raj</h2>
          <h3>CEO of SRI MULLAI TRADERS PTE LTD</h3>
          <p>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p>
          <p class="testimonialText"><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Sed viverra tellus in hac habitasse platea dictumst.
          </p>
        </div>
      </div> -->
      
      <div class="singleTestimonial">
        <!-- <img class="testimonialImage" src="https://images.unsplash.com/photo-1588361035994-295e21daa761?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=301" alt="Jane Doe"> -->
        <div class="testimonialText">
          <h2 class="testimonialName">Hope Lawson</h2>
          <h3>Mathematics Teacher</h3>
          <p>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p>
          <p><i class="fas fa-quote-left"></i>Hunter showed a great knowledge of mathematics by being able to take complex mathematical concepts and simplifying them for students to understand easily.
          </p>
        </div>
      </div>
      
    <div class="singleTestimonial">
      <!-- <img class="testimonialImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUJSl_0b_Q5i9_fh-E-pBp2bqCUkT18wP_MA&usqp=CAU" alt="Greg Doe"> -->
      <div class="testimonialText">
        <h2 class="testimonialName">Mijin Lee</h2>
        <h3>Senior Teacher</h3>
        <p>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </p>
        <p><i class="fas fa-quote-left"></i> I found him to be consistenty responsible and honest, working with dedication as a teacher. He had a wonderful rapport with both colleagues and students
        </p>
      </div>
    </div>
      
  <div class="singleTestimonial">
    <!-- <img class="testimonialImage" src="https://images.unsplash.com/photo-1575377222312-dd1a63a51638?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=302&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=302" alt="June Doe"> -->
    <div class="testimonialText">
      <h2 class="testimonialName">Michelle O'brien</h2>
      <h3>Phonics Specialist</h3>
      <p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </p>
      <p><i class="fas fa-quote-left"></i> He brought a fun energy and good attitude to the workplace while being very patient and enthusiastic. He treated each task with strong enthusiasm and great effort.
      </p>
    </div>
  </div>
      
  <div class="singleTestimonial">
    <!-- <img class="testimonialImage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6Da-G9UKItf7H4MWoP-UUHu2B4n3F8nR-pg&usqp=CAU" alt="Holly Doe"> -->
    <div class="testimonialText">
      <h2 class="testimonialName">Andrew Caffee</h2>
      <h3>Financial Professional at Humana</h3>
      <p>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </p>
      <p><i class="fas fa-quote-left"></i>Hunter has shown that he is resiliant and can accomplish anything that he puts his mind to. He achieved a BA in mathematics while working night shift at UPS to pay for his school. 
        <!-- He takes on new challenges with a positive attitude and always goes above and beyond. -->
      </p>
      </div>
    </div>
  </div>
</section> 

  <!-- Featured Projects Section -->
  <section id="featuredProjectsContainer">
    <h1 class="sectionalHeader">Featured Projects</h1>

    <div id="projectDisplayContainer">
      <div class="projectDisplay">
        <a class="imageContainer" href="https://ecommerce-store-furniture.netlify.app/" target="_blank" rel="noopener">
          <img class="projectImage" src="./images/ecommerce.png" alt="Anonymous Board Messenger">
          <div class="imageOverlay">
            <h2>Ecommerce Store</h2>
            <p class="projectDetailsText">
              Built this ecommerce store by creating various routes on an express app, and manipulating database documents to register new users and handle logins, orders and cart.
              Used react and redux to handle front end display and store manipulation.
            </p>
          </div>
        </a>
        <a class="projectHeader"href="https://ecommerce-store-furniture.netlify.app/" target="_blank" rel="noopener">
          <h2>Ecommerce Store (MERN)</h2>
        </a>
        <div class="projectLanguageContainer">
          <p class="projectLanguage">React</p>
          <p class="projectLanguage">Express</p>
          <p class="projectLanguage">Node.js</p>
          <p class="projectLanguage">MongoDB</p>
        </div>
        <a class="githubProjectLink" href="https://github.com/lace1010/ecommerce-store" target="_blank" rel="noopener">Github code</a>
      </div>

      <div class="projectDisplay">
        <a class="imageContainer" href="https://netflix-clone-hunter.netlify.app" target="_blank" rel="noopener">
          <img class="projectImage" src="./images/netflix-clone.png" alt="Weather App">
          <div class="imageOverlay">
            <h2>Netflix Clone</h2>
            <p class="projectDetailsText">
              Created a Netflix clone with React and styled components for the front-end on netlify. Demonstrated knowledge on how to use and 
              manipulate the TMDB API to load movies of specific genres and types. Used movieTrailer and react-youtube to display trailers by searching youtube for the movie title.
            </p>
          </div>
        </a>  
        <a class="projectHeader" href="https://netflix-clone-hunter.netlify.app" target="_blank" rel="noopener">
          <h2>Netflix Clone</h2>
        </a>
        <div class="projectLanguageContainer">
          <p class="projectLanguage">React</p>
          <p class="projectLanguage">Node.js</p>
          <p class="projectLanguage">Express</p>
          <p class="projectLanguage">MongoDB</p>
        </div>
        <a class="githubProjectLink" href="https://github.com/lace1010/netflix-clone" target="_blank" rel="noopener">Github code</a>
      </div>

      
      <div class="projectDisplay">
        <a class="imageContainer" href="https://whatsapp-clone-delta-one.vercel.app/" target="_blank" rel="noopener">
          <img class="projectImage" src="./images/whatsapp-clone.png" alt="Chat App">
          <div class="imageOverlay">
            <h2>Chat App</h2>
            <p class="projectDetailsText">
              Created a simple live chat app with next.js and real time database with firebase as the backend. Also designed the site using styled components to make life simple. This was challenging because I was not use to firebase v9 and took some time getting use to the modular setup. However it was worth it because now I feel much more confident with it and believe I learned an extensive amount about it.
            </p>
          </div>
        </a>  
        <a class="projectHeader" href="https://whatsapp-clone-delta-one.vercel.app/" target="_blank" rel="noopener">
          <h2>Chat App</h2>
        </a>
        <div class="projectLanguageContainer">
          <p class="projectLanguage">Next.js</p>
          <p class="projectLanguage">MUI</p>
          <p class="projectLanguage">Styled-Comp</p>
          <p class="projectLanguage">Firebase</p>
        </div>
        <a class="githubProjectLink" href="https://github.com/lace1010/whatsapp" target="_blank" rel="noopener">Github code</a>
      </div>
      
    </div>
    <a id="projectButton" href="/projects.html">
      View all Projects <i class = "fa fa-paper-plane"></i>
    </a>
  </section>

  <footer id="footerContainer">
    <!-- <img id="footerHeadshot" src="https://i.ibb.co/8dh8bHY/Professional-Headshot.jpg" alt="professional headshot"> -->
    <h2 id="footerHeader">Interested in hiring me?</h2>
    <p id="footerMessage">
      Looking for a full-stack developer to build your web app or ship your software product? To start an initial chat, just drop me an email at 
      <a class="footerLink" href="mailto:lace1010@gmail.com">lace1010@gmail.com</a> a or use the <a class="footerLink" href="/contact.html">form on the contact page</a>.
    </p>
    <a class="welcomeAndFooterButton" href="/contact.html">
      Let's talk
    </a>
  </footer>
  <div id="copyRightContainer">
    <p>Portfolio Copyright &#169; Yours Truly</p>
  </div>

  <!-- Jquery script link -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
  </script>

  <!-- Add this script to pass a lighthouse performance optimization audit (gets rid of preventDefault for jQuery) -->
  <script>
    // Passive event listeners
    jQuery.event.special.touchstart = {
        setup: function( _, ns, handle ) {
            this.addEventListener("touchstart", handle, { passive: !ns.includes("noPreventDefault") });
        }
    };
    jQuery.event.special.touchmove = {
        setup: function( _, ns, handle ) {
            this.addEventListener("touchmove", handle, { passive: !ns.includes("noPreventDefault") });
        }
    };
  </script>

  <!-- jQuerry carousel links -->
  <script src="owl.carousel.js"></script>
  <script src="index.js"></script>
</html>
