:root {
  --navbar-color: rgb(53, 73, 83);
  --theme-color: rgb(86, 119, 135);
  --theme-color-overlay: rgba(86, 119, 135, 0.9);
  --text-color: rgb(77, 72, 83);
  --icon-color-hover: rgb(33, 71, 114);
  --navbar-list-color: rgba(255, 255, 255, 0.6);
  --navbar-list-color-hover: rgba(255, 255, 255, 0.8);
  --welcome-text-color: rgba(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

html {
  /* (100% / 16px) * 10 = 62.5%. Now, 1rem = 10px b/c 62.5% = 10px.*/
  font-size: 62.5%;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: var(--navbar-color);
}

section {
  font-size: 1.5rem;
  font-weight: 350;
  color: var(--text-color);
}

.icon {
  background-color: transparent;
  padding: 0.8rem;
  width: 2rem;
  border-radius: 1.3rem;
  transition: all 0.5s ease-in-out;
}

.icon:hover {
  filter: brightness(70%);
  transform: scale(1.3);
}

.nav-social-list {
  display: flex;
  margin-left: 1rem;
}

.nav-social-list a {
  display: block;
  margin: 0.8rem 0.8rem 0.4rem 0.8rem;
  list-style: none;
}
.nav-link-list {
  display: flex;
  margin-right: 1rem;
}

.nav-link-list a {
  display: block;
  margin: 1.5rem;
  list-style: none;
}

.navbarLinks {
  color: var(--navbar-list-color);
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease;
}

#navbarLinkSelected {
  font-weight: 500;
  color: var(--welcome-text-color);
  text-decoration: none;
}

.navbarLinks:hover {
  color: var(--navbar-list-color-hover);
  text-decoration: none;
}

#navIndicator {
  background: var(--welcome-text-color);
  height: 0.4rem;
  border-radius: 2rem;
  position: absolute;
  top: 3.25em;
}

/* dropdown navbar options*/

#dropDownButton {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
  color: var(--welcome-text-color);
  font-size: 2rem;
  transition: all 0.3s ease;
}

#dropDownButton:hover {
  filter: brightness(80%);
  transform: scale(1.05);
}

.nav-link-list-dropdown {
  height: 0;
}

.nav-link-list-dropdown {
  background: var(--navbar-color);
  color: var(--welcome-text-color);
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

.nav-link-list-dropdown a {
  width: 0;
  font-size: 13px;
  margin: 5px 0 5px 10px;
}

/* Tooltip for color changes */
#colorThemeButton {
  position: absolute;
  top: 20rem;
  right: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: black;
  color: rgba(255, 255, 255, 0.8);
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#colorThemeButton:hover {
  color: var(--welcome-text-color);
  cursor: pointer;
}

#tooltipContainer {
  position: absolute;
  top: 20rem;
  right: 0;
  border-radius: 0.5rem;
  background-color: rgba(17, 17, 17, 0.9);
  width: 0;
  transition: 0.5s;
}

#tooltipHeader {
  font-size: 1.5rem;
  color: var(--welcome-text-color);
}

#tooltipExit {
  font-size: 1.5rem;
}

#tooltipExit:hover {
  cursor: pointer;
  filter: brightness(80%);
}

#row1 {
  display: flex;
}

.colorBox {
  width: 3rem;
  height: 2rem;
  margin: 1rem 1rem 1rem 0;
}

.colorBox:hover {
  cursor: pointer;
  filter: brightness(80%);
  border: 1px solid var(--welcome-text-color);
  box-sizing: border-box;
}

.selected {
  border: 1px solid var(--welcome-text-color);
  box-sizing: border-box;
}

#colorTheme1 {
  background-color: rgb(86, 119, 135);
}

#colorTheme2 {
  background-color: rgb(117, 110, 126);
}

#colorTheme3 {
  background-color: rgb(111, 109, 178);
}

#colorTheme4 {
  background-color: rgb(4, 196, 196);
}

#colorTheme5 {
  background-color: rgb(160, 83, 119);
}

#colorTheme6 {
  background-color: rgb(74, 174, 255);
}

#colorTheme7 {
  background-color: rgb(61, 174, 132);
}

#colorTheme8 {
  background-color: rgb(58, 112, 206);
}

/* Welcome Section */
#welcomeSectionContainer {
  background-color: var(--theme-color);
  display: flex;
  padding: 5rem 10rem 5rem 10rem;
  font-weight: 300;
}

#headshot {
  width: 20rem;
  height: 23rem;
  border-radius: 0.2rem;
}

#welcomeMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5rem;
}

#welcomeHeader {
  color: var(--welcome-text-color);
}

#name {
  font-size: 5rem;
  font-weight: 700;
}

.welcomeLink {
  color: var(--navbar-color);
  text-decoration: none;
  transition: all 0.2s ease;
}

.welcomeLink:hover {
  color: var(--welcome-text-color);
  text-decoration: underline;
}

.welcomeAndFooterButton {
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  max-width: 12rem;
  background-color: rgba(0, 0, 0, 0.25);
  color: var(--welcome-text-color);
  text-decoration: none;
  transition: all 0.2s ease;
}

.welcomeAndFooterButton:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--welcome-text-color);
  text-decoration: none;
}

/* Skills seciton */
.sectionalHeader {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

#skillSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(white, whitesmoke);
}

#skillsOverview {
  text-align: center;
  /* Change with query */
  max-width: 85rem;
  margin: 6rem 4rem 4rem 4rem;
}

#skillsDescription {
  font-weight: 250;
}

#resumeLink {
  color: var(--theme-color);
  text-decoration: none;
  transition: all 0.2s ease;
}

#resumeLink:hover {
  color: var(--text-color);
  text-decoration: underline;
}

#skillDisplayContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  grid-gap: 5rem;
  margin: 4rem 4rem 6rem 4rem;
  max-width: 95rem; /* change to flex and flex-direction: column with media query*/
}

.skillDisplay {
  background: white;
  box-shadow: 0 2px 2px lightgrey;
}

.skillIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* centers svg icon */
  background: var(--theme-color);
  fill: var(--welcome-text-color);
  border-radius: 50%;
  padding: 1rem;
  width: 7rem;
  margin-top: -3rem;
}

.skillIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--welcome-text-color);
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
}

.skillDisplay h2 {
  margin-top: 2rem;
  text-align: center;
}

.skillDisplay ul {
  margin: 2rem;
}

.skillDisplay li {
  list-style: none;
  margin: 1rem;
  font-weight: 250;
}

.fa-check {
  color: var(--theme-color);
  margin-right: 1rem;
}

/* Testimonial Section */

#testimonialsContainer {
  background: white;
  padding: 5rem 5rem 3rem 5rem; /* Change with media query */
}

.singleTestimonial {
  box-shadow: 4px 4px 20px -3px darkgrey;
  border-radius: 1rem;
  margin: 5rem 2rem 4rem 2rem;
  padding: 1rem 2rem 2rem 2rem;
}

.testimonialText {
  margin-top: 0.5rem;
  text-align: center;
}

.fa-quote-left {
  color: var(--theme-color);
  margin-right: 0.5rem;
}

.fa-star {
  color: gold;
}

.testimonialImage {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
  box-shadow: 2px 2px 10px -3px darkgrey;
  display: block;
  margin: auto;
}

.testimonialName {
  font-size: 2.5rem;
  color: var(--theme-color);
}

/* handles all testimonials shown */
.active {
  opacity: 0.3;
  transition: all 0.3s;
}

/* handles center testimonial */
.owl-carousel .center {
  opacity: 1;
  transform: scale(1.1);
}

/* handles prev button in testimonial carousel */
.owl-prev {
  width: 30px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: -30px;
  display: block !important;
  border: 0px solid black;
}

/* handles next button in testimonial carousel */
.owl-next {
  width: 30px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -30px;
  display: block !important;
  border: 0px solid black;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 4rem;
}

/* Handles dots under carousel */
.owl-dots span {
  box-sizing: border-box;
  border: 1px solid var(--theme-color);
  opacity: 1;
}

.owl-dots .active span {
  border: 5px solid var(--theme-color);

  filter: none;
}

/* FEATURED PROJECTS SECTION*/

#featuredProjectsContainer {
  background: linear-gradient(whitesmoke, white);
  padding: 5rem 3rem 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projectDisplayContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  grid-gap: 5rem;
  margin: 3rem 4rem 6rem 4rem;
  max-width: 100rem; /* change to flex and flex-direction: column with media query*/
}

.projectDisplay {
  display: block;
  background: white;
  box-shadow: 2px 2px 5px lightgrey;
}

.imageContainer {
  position: relative;
  display: block;
}

.projectImage {
  width: 100%;
  height: 100%;
}

.imageOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--theme-color-overlay);
  color: var(--welcome-text-color);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.3s ease;
}

.imageContainer:hover .imageOverlay {
  display: block;
  height: 100%;
}

.imageOverlay h3 {
  padding: 2rem 2rem 0rem 2rem;
}

.projectDetailsText {
  padding: 1rem 2rem 2rem 2rem;
  font-size: 1.4rem;
}

.projectHeader {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
  padding: 1rem 1rem 0.5rem 1rem;
}

.projectHeader {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.projectHeader h2 {
  font-size: 2rem;
}

.projectHeader:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.projectLanguageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.projectLanguage {
  background: var(--theme-color);
  color: var(--welcome-text-color);
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 3rem;
}

#projectButton {
  display: block;
  margin: auto;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  max-width: 20rem;
  background-color: var(--theme-color);
  color: var(--welcome-text-color);
  transition: all 0.3s ease-in-out;
}

#projectButton:hover {
  text-decoration: none;
  filter: brightness(80%);
  transform: scale(1.03);
}

/* FOOTER SECTION */
#footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background: var(--theme-color);
}

#footerHeadshot {
  width: 8rem;
  height: 9rem;
  border-radius: 50%;
}

#footerHeader {
  margin: 1rem;
  color: var(--welcome-text-color);
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
}

#footerMessage {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 350;
  color: var(--welcome-text-color);
  width: 60vw; /* Change with media query*/
  margin-bottom: 2rem;
}

.footerLink {
  color: var(--navbar-color);
  text-decoration: none;
  transition: all 0.2s ease;
}

.footerLink:hover {
  color: var(--welcome-text-color);
  text-decoration: underline;
}

#copyRightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: 300;
  background: var(--text-color);
  color: var(--welcome-text-color);
}

@media (max-width: 1120px) {
  .projectHeader h2 {
    font-size: 1.8rem;
  }
  #footerMessage {
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  #skillDisplayContainer {
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    grid-gap: 3rem;
    max-width: 90rem;
  }

  .skillDisplay {
    font-size: 1.4rem;
  }

  #projectDisplayContainer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-bottom: 0;
  }

  .projectDisplay {
    margin-bottom: 7rem;
  }

  .projectImage {
    height: 30rem;
  }

  .projectHeader h2 {
    font-size: 2.5rem;
  }

  #footerMessage {
    width: 80vw;
  }
}

@media (max-width: 835px) {
  #welcomeSectionContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem;
  }

  #welcomeMessageContainer {
    margin-top: 2rem;
    margin-left: 0;
  }

  #welcomeButton {
    margin-top: 2rem;
  }

  .welcomeAndFooterButton {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  #skillDisplayContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-bottom: 0;
  }
  .skillDisplay {
    margin-bottom: 7rem;
  }

  #projectDisplayContainer {
    width: 70vw;
  }
  .projectImage {
    height: 30rem;
  }

  #footerMessage {
    width: 90vw;
  }
}

@media (max-width: 700px) {
  nav {
    font-size: 1.2rem;
  }
  .icon {
    padding: 0.8rem;
    width: 1.5rem;
    border-radius: 1.3rem;
    transition: all 0.5s ease-in-out;
  }
}

/* Make this 573 in future after testing */
@media (max-width: 573px) {
  nav {
    font-size: 1.2rem;
  }

  .icon {
    padding: 0.8rem;
    width: 1.5rem;
    border-radius: 1.3rem;
  }

  /* drop down menu change here */
  .nav-link-list {
    display: none;
  }

  .nav-link-list-dropdown,
  #dropDownButton {
    display: flex;
  }
}
